defaults: &defaults
  adapter: postgresql
  host: localhost
  port: 5432
  username: it_territory
  password: 'password'

development:
  <<: *defaults
  database: it_territory_development

production:
  <<: *defaults
  database: it_territory_production

test:
  <<: *defaults
  database: it_territory_test
